
button{
    font-size:30px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton{
    
    background-color: #DC143C;
    
}

.count {
    font-size: 100px;
    padding: 20px;

}

.totalCount{
    color: aqua;
    font-size: 100px;
}

.resetButton{
    background-color: royalblue;
}